<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console">
			<JsonLayout properties="true" complete="false" compact="true" eventEol="true" stacktraceAsString="true"
						objectMessageAsJsonObject="true">
				<KeyValuePair key="timestamp" value="$${date:yyyy.MM.dd HH:mm:ss.SSS}"/>
			</JsonLayout>
		</Console>
		<RollingFile name="RollingFile" fileName="/var/log/app/actual/smart-home.log"
					 filePattern="/var/log/app/history/smart-home-%d{yyyy-MM-dd}.log.gz">
			<JsonLayout properties="true" complete="false" compact="true" eventEol="true" stacktraceAsString="true"
						objectMessageAsJsonObject="true">
				<KeyValuePair key="timestamp" value="$${date:yyyy.MM.dd HH:mm:ss.SSS}"/>
			</JsonLayout>
			<CronTriggeringPolicy schedule="0 0 0 * * ?"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="cz.sinko.smarthome" level="INFO"/>
		<Logger name="org.zalando.logbook" level="TRACE"/>
		<Root level="WARN">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="RollingFile"/>
		</Root>
	</Loggers>
</Configuration>
